<h1>Add a task:</h1>
<br>
<form action="/tasks/added" method="post">
  <label for="description">Task Description</label>
  <input id="description" name="description" type="text">
  <button type="submit">Add Task</button>
</form>
<p><a href="/tasks">Return to task list</a></p>
